.project {
    &:not(:first-child) {
        margin-top: 4rem;
    }

    &__image {
        transition: filter 1s ease;
        margin-top: 1rem;
        width: 100%;
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
        }
    }

    @include respond(phone) {
        overflow: hidden;
    }
}