:root {
    // COLORS
    --color-black: #000;
    --color-white: #fff;

    --color-secondary-dark: #555;
    --color-secondary-light: #efefef;

    --color-tertiary-dark: #777;

    // FONT
    --default-font-size: 1.6rem;
}